.container {
  padding: 5%;
  /* position: absolute; */
  /* left: 50%;
  top: 50%; */
  /* width: 70%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

h2 {
  padding-bottom: 15%;
}

.button {
  margin: auto;
  margin-top: 5%;
  display: block;
}

#modal-qotd {
  text-align: center;
}

#make-admin {
  display: none;
}
