.container {
  padding: 2% 5%;
  /* position: absolute; */
  /* left: 50%;
  top: 50%; */
  /* width: 70%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

h2,
h5 {
  padding-bottom: 15%;
}

.button {
  margin: auto;
  margin-top: 5%;
  display: block;
}

#modal-qotd {
  text-align: center;
}

.progress {
  display: none;
}

#make-admin {
  display: none;
}

#error-message {
  color: rgb(240, 52, 52);
  margin-bottom: 2%;
}
.card-panel.todo{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-areas: "image details delete";
  position: relative;
  margin: 9px;
}
.todo-details{
  grid-area: details;
  margin-top: 6px;
}
.todo-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* Range Colour */
.showRed{
  background-color: #ef9a9a;
  color: white;
}
.showOrange{
  background-color: #ffb74d;
  color: white;
}
.showGreen{
  background-color: #4db6ac;
  color: white;
}
a.whiteText{
  color: white;
}