.container {
  padding: 5%;
  text-align: center;
}

h5 {
  text-align: left;
  font-size: 18px;
}

.journal {
  transform: translate(25%, 25%);
}

#no-entries {
  display: block;
}

.entry-button {
  display: block;
}

.entry-container {
  margin-top: 5%;
  text-align: left;
}

.entry {
  margin: 15px 0;
  padding: 10px 25px;
  font-size: 12px;
}

p {
  margin: 8px 0;
}

.entry-title {
  font-weight: bolder;
}
