.container {
  padding: 5%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.progress {
  margin-top: 20%;
  display: none;
}

h5 {
  margin-bottom: 5;
}

img {
  height: auto;
  width: 40%;
}

.signup-button {
  color: teal;
}
