header,
main,
body,
footer {
  padding-left: 300px;
}

.modal {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.container {
  padding-top: 5% !important;
}

.background {
  background-color: #92cfd0;
}

.sidenav img {
  object-fit: cover;
}

.menu-btn {
  margin-top: 15px !important;
}

.menu-icon {
  color: grey;
  font-size: 26px !important;
}

nav {
  background-color: #eee;
  height: 90px;
  box-shadow: none;
}

a.brand-logo {
  margin-top: 20px;
  left: 50%;
  transform: translateX(-205px);
}

#logo {
  height: auto;
  width: 120px;
}

.white-text {
  color: rgba(0, 0, 0, 0.87) !important;
}

a.disabled {
  text-decoration: underline;
  pointer-events: none;
  opacity: 0.6;
}

#userTab.unclickable {
  pointer-events: none;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  body,
  footer {
    padding-left: 0;
  }

  a.brand-logo {
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  #logo {
    height: auto;
    width: 90px;
  }

  .user-view {
    padding-left: 32px !important;
  }
}
