.container {
  position: relative;
  width: auto;
  height: 80%;
  padding: 2% 5%;
  text-align: center;
}

h5 {
  font-size: 16px;
  margin-bottom: 7%;
}

i,
#logout-btn {
  cursor: pointer;
}

#userData {
  position: relative;
  display: block;
  text-align: left;
  margin-top: 10%;
}

#picture-container {
  position: relative;
  border-radius: 50%;
  position: relative;
  width: fit-content;
  height: fit-content;
}

#picture-container button {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.3s ease-in-out;
}

#picture-container i {
  font-size: 800% !important;
  color: rgba(212, 212, 212, 0.959);
  transition: 0.3s ease-in-out;
}

#picture-container img {
  object-fit: cover;
  height: 15vh !important;
  width: 15vh !important;
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

#picture-container:hover img {
  opacity: 0.05;
}

#picture-container:hover button i {
  opacity: 1;
  color: #92cfd0;
}

.data {
  margin-top: 5%;
  font-size: 17px;
  float: left;
  clear: left;
}

#text-container {
  position: relative;
}

#text-container i {
  position: absolute;
  transform: translate(100%, -20%);
  transition: 0.1s ease-in-out;
}

i:hover {
  color: teal;
  font-size: 30px;
}

.error-message {
  margin-bottom: 2%;
  color: rgb(240, 52, 52);
}

.preloader {
  display: none;
}

/* LOGOUT COMPONENT */
#logout-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 28% !important;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.87);
}

#logout-btn i {
  /* position: absolute; */
  transform: translate(-25%, 25%) !important;
  font-size: 30px !important;
}

#logout-btn i,
#logout-btn {
  transition: 0.1s ease-in-out;
}

#logout-btn:hover i,
#logout-btn:hover {
  color: rgb(240, 52, 52);
  font-size: 25px !important;
}

/* CONTACT COMPONENT */
#contact {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.87);
}

#contact .component {
  margin-top: 10%;
}

#contact i {
  /* color: unset; */
  transform: translate(-20%, 25%) !important;
  font-size: 30px !important;
}

#contact a {
  transition: 0.1s ease-in-out;
}

#contact:hover i {
  color: unset;
  cursor: default;
}

#contact:hover a {
  font-size: larger;
}

@media only screen and (max-width: 600px) {
  h5 {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .data {
    margin-top: 10%;
    font-size: 14px;
  }

  #logout-btn {
    position: absolute;
    top: 55vh;
    left: 50%;
    margin-top: 28% !important;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.87);
  }

  #picture-container button {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: transparent;
  }

  #picture-container i {
    font-size: 400% !important;
    opacity: 1;
    color: #92cfd0;
  }

  #picture-container img {
    object-fit: cover;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    opacity: 0.1 !important;
  }
}
