.container {
  position: relative;
  width: auto;
  height: 80%;
  padding: 2% 5%;
  text-align: center;
  margin-top: 10%;
}
h5 {
  font-size: 16px;
  margin-bottom: 7%;
}

#modal_week_button,
#modal_month_button,
#modal_year_button {
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  h5 {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.done {
  color: #4db6ac;
}
.mood {
  color: #ffb74d;
}
.show_chart {
  color: #ef9a9a;
}
#current_week,
#current_month,
#current_year {
  padding-right: 5px;
  display: inline-block;
}
.fixed-action-btn {
  /* right: 70%; */
}

/* week, month, year modal styles */
.card-panel.week {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);

  grid-template-areas: "image details delete";
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}
.card-panel.month {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);

  grid-template-areas: "image details delete";
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}
.card-panel.year {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);

  grid-template-areas: "image details delete";
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

/* todo list styles */
.carousel.carousel-slider {
  top: 0;
  left: 0;
  margin-top: 5%;
  height: 60vh !important;
}
.carousel-item {
  padding-bottom: 18vh;
}

.todos {
  margin-top: 20px;
}
.card-panel.todo {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
  display: grid;
  grid-template-areas: "image details delete";
  position: relative;
  margin: 9px;
}
.todo-details {
  grid-area: details;
  margin-top: 6px;
}
.todo-delete {
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* Range Colour */
.showRed {
  background-color: #ef9a9a;
  color: white;
}
.showOrange {
  background-color: #ffb74d;
  color: white;
}
.showGreen {
  background-color: #4db6ac;
  color: white;
}
a.whiteText {
  color: white;
}
